.title-box {
    padding: 3rem 1.5rem 2rem;
    text-align: center;
}

.table-principal{
    box-shadow: 0px 0px 15px grey;
}

.fondo{
    background: #f1f2f6;
}

.alertify-notifier .ajs-message.ajs-error{
    color: #fff;
    background: black;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
}
